*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
 
  background-image: url(https://images.pexels.com/photos/314726/pexels-photo-314726.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  background-position: center;
}
#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: #fff;

}

#nav i{
  font-size: 30px;
  font-weight: 800;
}
#nav h2{
  font-size: 30px;
}