*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100px;
    height:100px;
    background:rgb(100, 100, 255);
}
.box2{
    width: 100px;
    height:100px;
    background:rgb(193, 61, 24);
}
.text{
    font: 400;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: #3498db; /* You can replace this color code with any color you prefer */
    border-radius: 50%;
}